/* Tilt Warp font */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

/* roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.inter-login-font {
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  color:white;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
    display: block;
    margin-bottom: 1.5rem;
}

.roboto-login-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-size: 1.5rem;
  font-variation-settings:
    "wdth" 100;
  background: none;
  border: none;
  color:white;
  width: calc(50vw - 5rem);
  text-align: center;
}

.roboto-login-font::placeholder {
	color: #ffffffc6;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden{
    display:none;
}

body{
    position: relative;
}

.wrap{
    position: relative;
    width: 100dvw;
    height: 100dvh;
    top:0;
    left:0;
    z-index: 100;
}

.login-form , .join{
    position: relative;
    z-index: 100;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

img{
    position: absolute;
    top:0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    object-fit: cover;
    z-index: 1;
}

.background-black{
    background: linear-gradient(to bottom, #d6d6d631 32%, rgba(0,0,0, 0.98) 89%); 
    backdrop-filter: blur(5px); 
    width: 100dvw;
    height: 100dvh;
    z-index: 1;
    position: absolute;
    top:0;
    left: 0;
}

.login-form>button {
    background: none;
    border: none;
    font-size: 2rem;
    color:white;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
    font-variation-settings:
    "wdth" 100;
    margin-bottom: -10px;
    cursor: pointer;
}

.login-form>hr{
    margin-top: 20px;
    border: 1px white solid;
}

input,
input:focus,
textarea,
textarea:focus {
  outline: none ;
  box-shadow: none ;
}


@media all and (max-width:900px) {

    .inter-login-font {
        font-size: 3.5rem;
        border-bottom: 0.8rem;
    }

    .roboto-login-font {
        font-size: 1.3rem;
        width: calc(50vw - 2rem);
    }

    .login-form>button {
        background: none;
        border: none;
        font-size: 1.3rem;
        color:white;
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-style: bold;
        font-variation-settings:
        "wdth" 100;
    }
    
    .login-form>hr{
        margin-top: 12px;
    }
}

@media all and (max-width:380px) {

    .inter-login-font {
        font-size: 3rem;
        border-bottom: 12px;
    }

    .roboto-login-font {
        font-size: 1.3rem;
        width: calc(52vw - 2rem);
    }

    .login-form>button {
        padding-left: 1rem;
    }
}